body {
    background: #efefef;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.menu {
    display: flex;
    list-style: none;
    max-width: 400px;
    flex-wrap: wrap;
    margin: auto;



}

.menu li {
    flex-basis: 20%;
}

.wrap {
    /* max-width: 600px; */
    margin: auto;
    background: #ffffff;
}

.card {
    /* max-width: 300px; */
    flex-basis: 29.33%;
    margin: 2% 2% 2% 2%;
    border: 1px black solid;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;

}

.txt {
    margin: 4% 6%;
    line-height: 1.3;
    font-size: 14px;
}

.h-large {
    text-align: center;
    margin: 80px auto 40px;
}

@media screen and (max-width:480px) {

    /*　画面サイズが480px以下の場合ここの記述が適用される　*/

    body {
        background: rgb(90, 90, 90);
    }

    .card {
        flex-basis: 100%;
    }

    .h-large {
        margin: 40px auto 24px;
        font-size: 24px;
    }

}